{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>
        {% block title %}
            基本模板
        {% endblock %}
    </title>

    <!-- Bootstrap -->
    <link href={% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %} rel="stylesheet">
    <link href={% static 'blog/css/blog_nav.css' %} rel="stylesheet">

    {% block css %}

    {% endblock %}
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src={% static 'blog/image/blog.png' %} alt="logo"><span class="navbar-text">我的博客</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="my-nav">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/blog/">博客</a></li>
            <li><a href="#">关于博主</a></li>
            <li><a href="#">联系我们</a></li>
          </ul>

          <form class="navbar-form navbar-left" action="{% url 'blog:blog_search'  %}" method="get">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" name="keyword">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">登录</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    {% block content %}

    {% endblock %}

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src={% static 'jquery-3.2.1.min.js' %}></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src={% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}></script>
    <script>
        $(function () {
            $('#back-to-top').click(function () {
                window.scrollTo(0,0)
            })
        })
        console.log('hello')
    </script>
    {% block script %}
    
    {% endblock %}

    <div id="back-to-top">
        <i class="glyphicon glyphicon-arrow-up" ></i>
    </div>

     <footer>
    <div class="footer" role="navigation">
        <div class="container">
            <div class="navbar-text">
                <ul class="footer-text">
                    <li><a href="/blog/">主页</a></li>
                    <li><a href="#">关于博主</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href=#">文档支持</a></li>
                </ul>
                <p>Copyright © 2020 转载请注明出处，侵权必究</p>
            </div>
        </div>
    </div>
</footer>
  </body>
</html>